.flows_raspberrypi.json.backup
[{"id":"31b2726c.e2cc5e","type":"tab","label":"Room Availability","disabled":false,"info":""},{"id":"1885c078.1827b","type":"tab","label":"SitStandDesks","disabled":false,"info":""},{"id":"a47b2e06.db0dd","type":"tab","label":"Roomkit","disabled":false,"info":""},{"id":"7f7366e2.1cb858","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"b081bba7.f86da8","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"3eb8d26e.9702ee","type":"mqtt-broker","z":"","name":"MosPi","broker":"192.168.0.19","port":"1883","clientid":"raspClient","usetls":false,"compatmode":true,"keepalive":"90","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"92d462ae.8d756","type":"Spark Authentication","z":"","name":"admin"},{"id":"c5ef7b36.ec30a8","type":"sqlitedb","z":"","db":"/home/pi/db/deskreadingstest"},{"id":"c67135af.44f188","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"4cce55de.75039c","type":"ui_group","z":"","name":"Default","tab":"c67135af.44f188","disp":true,"width":"6","collapse":false},{"id":"79857449.22c44c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"dcc467d7.206a68","type":"sqlitedb","z":"","db":"/home/pi/db/DeskReadings"},{"id":"db2fc9a8.35c5d8","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"catchpoint","name":"","usetls":false,"tls":""},{"id":"d5ea5ea5.88a38","type":"mqtt out","z":"31b2726c.e2cc5e","name":"MQTT Out (Uses msg topic)","topic":"","qos":"2","retain":"true","broker":"3eb8d26e.9702ee","x":1000,"y":300,"wires":[]},{"id":"13ae708a.5a5e6f","type":"debug","z":"31b2726c.e2cc5e","name":"Full msg Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":960,"y":220,"wires":[]},{"id":"48d9c848.b2dfe8","type":"http in","z":"31b2726c.e2cc5e","name":"","url":"/rooms","method":"post","upload":false,"swaggerDoc":"","x":90,"y":280,"wires":[["581dfb6d.b3bb14","86ab4b6a.c53388"]]},{"id":"581dfb6d.b3bb14","type":"http response","z":"31b2726c.e2cc5e","name":"","statusCode":"200","headers":{},"x":320,"y":220,"wires":[]},{"id":"11ee0ad3.bc62a5","type":"debug","z":"1885c078.1827b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":810,"y":40,"wires":[]},{"id":"1147ee.1d051813","type":"sqlite","z":"1885c078.1827b","mydb":"dcc467d7.206a68","sqlquery":"msg.topic","sql":"","name":"PROD","x":550,"y":60,"wires":[["11ee0ad3.bc62a5"]]},{"id":"25bea225.1dc3be","type":"function","z":"1885c078.1827b","name":"","func":"msg.topic = \"SELECT * FROM deskreadings\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":420,"wires":[["ec6abf41.0e4d1"]]},{"id":"96db891c.8a0768","type":"http in","z":"1885c078.1827b","name":"","url":"/desks","method":"get","upload":false,"swaggerDoc":"","x":170,"y":420,"wires":[["25bea225.1dc3be"]]},{"id":"69a618b3.4cd178","type":"mqtt in","z":"1885c078.1827b","name":"","topic":"Desks/+","qos":"2","broker":"3eb8d26e.9702ee","x":140,"y":300,"wires":[["1d77b4a5.94ecab","e710cc74.cd60f"]]},{"id":"1d77b4a5.94ecab","type":"json","z":"1885c078.1827b","name":"","property":"payload","action":"obj","pretty":false,"x":300,"y":340,"wires":[["cc440cc8.d5b15"]]},{"id":"a6ba547f.eab038","type":"function","z":"1885c078.1827b","name":"PublishSorter","func":"if(\"startuptime\" in msg.payload){\n    msg.topic = \"INSERT INTO starttimes\"+\n    \"(id,startuptime) values (\\\"\"+\n    msg.payload.id+\"\\\",\"+\n    msg.payload.startuptime+\")\";\n}\nelse if (\"time\" in msg.payload){\n    msg.topic = \"INSERT INTO deskreadings(id,oldheight,newheight,time) values (\\\"\"+\n    msg.payload.id+\"\\\",\"+\n    msg.payload.oldheight+\",\"+\n    msg.payload.newheight+\",\"+\n    msg.payload.time+\")\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":120,"wires":[["1147ee.1d051813"]]},{"id":"ec6abf41.0e4d1","type":"sqlite","z":"1885c078.1827b","mydb":"dcc467d7.206a68","sqlquery":"msg.topic","sql":"","name":"","x":600,"y":420,"wires":[["28fa9645.b1e5aa"]]},{"id":"93f3c8ea.949218","type":"http response","z":"1885c078.1827b","name":"","statusCode":"200","headers":{},"x":1020,"y":420,"wires":[]},{"id":"28fa9645.b1e5aa","type":"csv","z":"1885c078.1827b","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"id,time,oldheight,newheight","skip":"0","x":850,"y":420,"wires":[["93f3c8ea.949218"]]},{"id":"86ab4b6a.c53388","type":"function","z":"31b2726c.e2cc5e","name":"Topic Creator","func":"msg.topic = msg.payload.topic;\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":300,"wires":[["d5ea5ea5.88a38","13ae708a.5a5e6f"]]},{"id":"1b0a42fe.858d6d","type":"inject","z":"31b2726c.e2cc5e","name":"","topic":"","payload":"{\"room\":\"2ca21521-9e05-49b7-aed3-3f6c971afd2c\",\"duration\":10,\"elapsed\":4,\"topic\":\"11 SOUTH 14\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":360,"wires":[["86ab4b6a.c53388"]]},{"id":"cd83db7e.bf0408","type":"inject","z":"1885c078.1827b","name":"Update Desk Sensors","topic":"","payload":"{\"details\":\"update\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":760,"wires":[["e86a6864.fe9228"]]},{"id":"e86a6864.fe9228","type":"mqtt out","z":"1885c078.1827b","name":"","topic":"Desks/sub","qos":"2","retain":"","broker":"3eb8d26e.9702ee","x":470,"y":760,"wires":[]},{"id":"751cce7f.49b43","type":"switch","z":"1885c078.1827b","name":"","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"publish","vt":"str"},{"t":"eq","v":"response","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":200,"wires":[["a6ba547f.eab038"],[]]},{"id":"cc440cc8.d5b15","type":"function","z":"1885c078.1827b","name":"checkPublishType","func":"if(\"time\" in msg.payload || \"startuptime\" in msg.payload){\n    msg.type = \"publish\";\n}\nelse{\n    msg.type = \"response\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":280,"wires":[["751cce7f.49b43"]]},{"id":"e8373055.a3aa7","type":"http in","z":"a47b2e06.db0dd","name":"","url":"/spark","method":"post","upload":false,"swaggerDoc":"","x":70,"y":400,"wires":[["5dfb5536.64522c","3c9c088f.a0e458"]]},{"id":"5dfb5536.64522c","type":"http response","z":"a47b2e06.db0dd","name":"","statusCode":"200","headers":{},"x":340,"y":320,"wires":[]},{"id":"40aecf0b.27636","type":"http response","z":"1885c078.1827b","name":"","statusCode":"200","headers":{},"x":600,"y":540,"wires":[]},{"id":"1cc8c45e.5af51c","type":"http in","z":"1885c078.1827b","name":"","url":"/update.bin","method":"get","upload":false,"swaggerDoc":"","x":100,"y":540,"wires":[["f0f05a90.dc2428"]]},{"id":"f0f05a90.dc2428","type":"file in","z":"1885c078.1827b","name":".bin file location","filename":"/home/pi/Arduino/SitStandDesks/ultrasonic/ultrasonic.ino.nodemcu.bin","format":"","chunk":false,"sendError":false,"x":380,"y":540,"wires":[["40aecf0b.27636"]]},{"id":"23f59f6e.47c5a","type":"http in","z":"1885c078.1827b","name":"","url":"/gitUpdate","method":"post","upload":true,"swaggerDoc":"","x":100,"y":660,"wires":[["949a73a4.926d6"]]},{"id":"16a94f3c.075281","type":"http response","z":"1885c078.1827b","name":"","statusCode":"200","headers":{},"x":780,"y":620,"wires":[]},{"id":"949a73a4.926d6","type":"exec","z":"1885c078.1827b","command":"cd ~/Arduino/SitStandDesks && git pull","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":430,"y":660,"wires":[["16a94f3c.075281","669c23e1.73420c"],[],[]]},{"id":"669c23e1.73420c","type":"debug","z":"1885c078.1827b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":660,"wires":[]},{"id":"a443b85b.b9fd48","type":"comment","z":"1885c078.1827b","name":"Click to notify topic of new update and start update process","info":"","x":980,"y":760,"wires":[]},{"id":"cf4bc10b.5bfbd","type":"comment","z":"1885c078.1827b","name":"Sends .bin file to requesters","info":"","x":900,"y":540,"wires":[]},{"id":"8c169835.abd848","type":"comment","z":"1885c078.1827b","name":"Automatically updates local file repo everytime someone pushes to the repo","info":"","x":1130,"y":620,"wires":[]},{"id":"e543d5d4.6ad6e8","type":"http in","z":"1885c078.1827b","name":"","url":"/deskStartTimes","method":"get","upload":false,"swaggerDoc":"","x":200,"y":460,"wires":[["da1dd401.2c7078"]]},{"id":"da1dd401.2c7078","type":"function","z":"1885c078.1827b","name":"","func":"msg.topic = \"SELECT * FROM starttimes\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":460,"wires":[["8e5e0fcd.15e29"]]},{"id":"8e5e0fcd.15e29","type":"sqlite","z":"1885c078.1827b","mydb":"dcc467d7.206a68","sqlquery":"msg.topic","sql":"","name":"","x":670,"y":460,"wires":[["933d29d5.7c2e28"]]},{"id":"933d29d5.7c2e28","type":"csv","z":"1885c078.1827b","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"id,startuptime","skip":"0","x":910,"y":460,"wires":[["b184fe54.76c6c"]]},{"id":"b184fe54.76c6c","type":"http response","z":"1885c078.1827b","name":"","statusCode":"200","headers":{},"x":1100,"y":460,"wires":[]},{"id":"e710cc74.cd60f","type":"debug","z":"1885c078.1827b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":240,"y":240,"wires":[]},{"id":"f1ac96ed.5853a8","type":"catch","z":"a47b2e06.db0dd","name":"","scope":null,"x":140,"y":600,"wires":[["c1a53eae.32426"]]},{"id":"c1a53eae.32426","type":"debug","z":"a47b2e06.db0dd","name":"Error Info (Complete msg object)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":520,"y":600,"wires":[]},{"id":"eecc63aa.fef56","type":"function","z":"a47b2e06.db0dd","name":"Payload Formatter","func":"var emailIDs = ['video','television','screen','furniture','markers'];\n\nif(msg.type == 'button' && 'Clicked' in msg.payload.Event.UserInterface.Extensions.Event){\n    if(emailIDs.indexOf(msg.ID)>-1){\n        msg.flow='email';\n        msg.topic = \"Issue with: \"+msg.ID;\n    }\n    else{\n        msg.flow = 'mqtt';\n        msg.payload = {'details': 'reset',\n            \"type\": \"String\"\n        }\n    }\n}\n// If a value exists\nelse if(msg.value){\n    msg.flow='mqtt';\n    var val;\n    if(msg.type=='options'){\n        if(msg.value == 1){\n            val = 0;\n        }\n        else if(msg.value ==2){\n            val = 85;\n        }\n        else if(msg.value ==3){\n            val = 170;\n        }\n        else{\n            val = 255;\n        }\n    }\n    else{\n        val = parseInt(msg.value);\n    }\n    msg.payload = msg.payload = {'details': val,\n            \"type\": \"int\"\n        }\n}\nelse{\n    msg.flow='garbage';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":400,"wires":[["f9fe8423.d409b8"]]},{"id":"75c7eefd.3b001","type":"mqtt out","z":"a47b2e06.db0dd","name":"MQTT Out (Hardcoded 11WEST14Interior Topic)","topic":"11West14Interior","qos":"2","retain":"","broker":"3eb8d26e.9702ee","x":1300,"y":300,"wires":[]},{"id":"76bee0bc.c8ecd","type":"e-mail","z":"a47b2e06.db0dd","server":"smtp-mail.outlook.com","port":"587","secure":false,"name":"liam.butcher@hotmail.com","dname":"Send Email","x":1190,"y":380,"wires":[]},{"id":"c97fa36f.28aa","type":"function","z":"a47b2e06.db0dd","name":"get widget details","func":"//Switch node doesn't like checking if keys exist, default to null so it is happy\nmsg.value = null;\nvar type;\nvar ID;\nif('Pressed' in msg.payload.Event.UserInterface.Extensions.Event){\n    type = 'Pressed'\n}\nelse if('Clicked' in msg.payload.Event.UserInterface.Extensions.Event){\n    type = 'Clicked';\n}\n\n//Check if this specific payload is a 'Pressed' or 'Clicked' event. If not, then ignore for now.\nif(type){\n    // Naming convention:  type_ID:value\n    // Single option buttons do not have values, sliders and multi-option buttons do\n    var name = msg.payload.Event.UserInterface.Extensions.Event[type].Signal.Value;\n    \n    var typeIndex = name.indexOf('_');\n    var type = name.substring(0,typeIndex);\n    msg.type = type;\n    \n    var valueIndex = name.indexOf(':');\n    //If the name has a value within it, seperate the ID from the value\n    if(valueIndex>-1){\n        msg.value = name.substring(valueIndex+1,name.length);\n        ID = name.substring(typeIndex+1,valueIndex);\n    }\n    else{\n        ID = name.substring(typeIndex+1,name.length);\n    }\n\n    \n}\n\nelse if ('Changed' in msg.payload.Event.UserInterface.Extensions.Event){\n    \n    type='Changed';\n    \n    var name = msg.payload.Event.UserInterface.Extensions.Event.Changed.Signal.Value;\n    \n    var typeIndex = name.indexOf('_');\n    var type = name.substring(0,typeIndex);\n    \n    var valueIndex = name.indexOf(':');\n    \n    //If the name has a value within it, seperate the ID from the value\n    msg.value = name.substring(valueIndex+1,name.length);\n    ID = name.substring(typeIndex+1,valueIndex);\n}\n\nmsg.ID = ID;\nmsg.type = type;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":440,"wires":[["eecc63aa.fef56"]]},{"id":"f9fe8423.d409b8","type":"switch","z":"a47b2e06.db0dd","name":"Flow Router","property":"flow","propertyType":"msg","rules":[{"t":"eq","v":"mqtt","vt":"str"},{"t":"eq","v":"email","vt":"str"},{"t":"eq","v":"garbage","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":790,"y":400,"wires":[["75c7eefd.3b001"],["76bee0bc.c8ecd"],["2ebc1d35.fd3de2"]]},{"id":"2ebc1d35.fd3de2","type":"debug","z":"a47b2e06.db0dd","name":"Payload Dump","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1200,"y":460,"wires":[]},{"id":"3e79d793.1dfdb8","type":"debug","z":"a47b2e06.db0dd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":260,"y":220,"wires":[]},{"id":"27d195a3.97e9ba","type":"http in","z":"7f7366e2.1cb858","name":"","url":"/spark","method":"post","upload":false,"swaggerDoc":"","x":90,"y":300,"wires":[["c4414959.282a08","3e32bcbe.8d3d74"]]},{"id":"ab7e3425.b21998","type":"catch","z":"7f7366e2.1cb858","name":"","scope":null,"x":140,"y":740,"wires":[["a4c9a12c.7dc3d"]]},{"id":"a4c9a12c.7dc3d","type":"debug","z":"7f7366e2.1cb858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":300,"y":740,"wires":[]},{"id":"c4414959.282a08","type":"http response","z":"7f7366e2.1cb858","name":"","statusCode":"200","headers":{},"x":260,"y":240,"wires":[]},{"id":"3e32bcbe.8d3d74","type":"function","z":"7f7366e2.1cb858","name":"get event type","func":"if('Pressed' in msg.payload.Event.UserInterface.Extensions.Event){\n    type = 'Pressed'\n}\nelse if('Clicked' in msg.payload.Event.UserInterface.Extensions.Event){\n    type = 'Clicked';\n}\nelse if('Changed' in msg.payload.Event.UserInterface.Extensions.Event){\n    type = 'Changed';\n}\nelse{\n    type = 'other';\n}\n\nmsg.eventType = type;\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":300,"wires":[["555bac03.115334"]]},{"id":"ff319a9f.fa66f8","type":"function","z":"7f7366e2.1cb858","name":"get widget details","func":"msg.widget = msg.payload.Event.UserInterface.Extensions.Event[msg.eventType].Signal.Value;\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":300,"wires":[["24b9809c.4c005"]]},{"id":"24b9809c.4c005","type":"string","z":"7f7366e2.1cb858","name":"get widget ID","methods":[{"name":"getRightMost","params":[{"type":"str","value":"_"}]},{"name":"getLeftMost","params":[{"type":"str","value":":"}]}],"prop":"widget","propout":"widgetID","object":"msg","objectout":"msg","x":110,"y":380,"wires":[["d4e074fc.e44478"]]},{"id":"555bac03.115334","type":"switch","z":"7f7366e2.1cb858","name":"Filter out released events","property":"eventType","propertyType":"msg","rules":[{"t":"eq","v":"other","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":300,"wires":[[],["ff319a9f.fa66f8"]]},{"id":"d4e074fc.e44478","type":"string","z":"7f7366e2.1cb858","name":"get widget type","methods":[{"name":"getLeftMost","params":[{"type":"str","value":"_"}]}],"prop":"widget","propout":"widgetType","object":"msg","objectout":"msg","x":280,"y":380,"wires":[["c0f9c155.75119"]]},{"id":"acf0658f.67c258","type":"switch","z":"7f7366e2.1cb858","name":"Check if value widget","property":"widgetType","propertyType":"msg","rules":[{"t":"eq","v":"options","vt":"str"},{"t":"eq","v":"slider","vt":"str"},{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":720,"y":420,"wires":[["ae4ccb8.0b8a138"],["ae4ccb8.0b8a138"],["3fffb23e.c262ee"]]},{"id":"ae4ccb8.0b8a138","type":"string","z":"7f7366e2.1cb858","name":"get Value","methods":[{"name":"getRightMost","params":[{"type":"str","value":":"}]}],"prop":"widget","propout":"value","object":"msg","objectout":"msg","x":960,"y":360,"wires":[["3fffb23e.c262ee"]]},{"id":"3fffb23e.c262ee","type":"function","z":"7f7366e2.1cb858","name":"check if email","func":"var emailIDs = ['video','audio','television','screen','furniture','markers'];\n\nif(emailIDs.indexOf(msg.widgetID)>-1){\n    msg.email = \"True\";\n}\nelse{\n    msg.email=\"False\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":440,"wires":[["3cbf4d11.639442"]]},{"id":"34aac893.1a97c8","type":"function","z":"7f7366e2.1cb858","name":"format payload","func":"//details will be widget ID\n// type will be String or int depending on widget\n\ntemplate = {\"details\": null,\n    \"type\": null\n};\n\n// placeholder variable for value widgets\n\n\nif(msg.widgetType == 'button'){\n    template.details = 'reset';\n    template.type = \"String\";\n}\nelse{\n    var val = msg.value;\n\n    if (msg.widgetType == 'options'){\n        if(msg.value == 1){\n            val = 0;\n        }\n        else if(msg.value ==2){\n            val = 85;\n        }\n        else if(msg.value ==3){\n            val = 170;\n        }\n        else{\n            val = 255;\n        }\n    }\n    template.details = val;\n    template.type = 'int'\n}\n\nmsg.payload = template;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":520,"wires":[["d57075e.8deac88"]]},{"id":"3cbf4d11.639442","type":"switch","z":"7f7366e2.1cb858","name":"email or mqtt?","property":"email","propertyType":"msg","rules":[{"t":"eq","v":"False","vt":"str"},{"t":"eq","v":"True","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":180,"y":520,"wires":[["34aac893.1a97c8"],["3cb9f48a.bc038c"]]},{"id":"5f2a5add.25ff84","type":"e-mail","z":"7f7366e2.1cb858","server":"smtp-mail.outlook.com","port":"587","secure":false,"name":"liam.butcher@hotmail.com","dname":"Send Email","x":690,"y":600,"wires":[]},{"id":"d57075e.8deac88","type":"mqtt out","z":"7f7366e2.1cb858","name":"MQTT Out (Hardcoded 11WEST14Interior Topic)","topic":"11West14Interior","qos":"2","retain":"","broker":"3eb8d26e.9702ee","x":760,"y":520,"wires":[]},{"id":"3cb9f48a.bc038c","type":"function","z":"7f7366e2.1cb858","name":"format email","func":"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":600,"wires":[["5f2a5add.25ff84"]]},{"id":"ca42794f.5afe98","type":"switch","z":"7f7366e2.1cb858","name":"is button and pressed event?","property":"eventType","propertyType":"msg","rules":[{"t":"eq","v":"Pressed","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":360,"wires":[[],["acf0658f.67c258"]]},{"id":"c0f9c155.75119","type":"switch","z":"7f7366e2.1cb858","name":"is button?","property":"widgetType","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":380,"wires":[["ca42794f.5afe98"],["acf0658f.67c258"]]},{"id":"3c9c088f.a0e458","type":"function","z":"a47b2e06.db0dd","name":"","func":"if('TextInput' in msg.payload.Event.UserInterface.Message){\n    if('Response' in msg.payload.Event.UserInterface.Message.TextInput){\n        msg.doICare = 'true';\n    }    \n}\n//else if()\nelse{\n    msg.doICare = 'false';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":460,"wires":[["ce7483f0.b07dc"]]},{"id":"ce7483f0.b07dc","type":"switch","z":"a47b2e06.db0dd","name":"","property":"doICare","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":500,"wires":[["c97fa36f.28aa","3e79d793.1dfdb8"],[]]}]