flows_raspberrypi.json
[{"id":"16867181.4ba4be","type":"tab","label":"HTTP Inputs","disabled":false,"info":""},{"id":"eddd5197.056f8","type":"tab","label":"Status Updater","disabled":false,"info":""},{"id":"e8d560a3.40dba","type":"tab","label":"Status Displayer","disabled":false,"info":""},{"id":"31b2726c.e2cc5e","type":"tab","label":"Room Availability","disabled":false,"info":""},{"id":"1885c078.1827b","type":"tab","label":"SitStandDesks","disabled":false,"info":""},{"id":"a47b2e06.db0dd","type":"tab","label":"LED Example","disabled":false,"info":""},{"id":"b081bba7.f86da8","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"3eb8d26e.9702ee","type":"mqtt-broker","z":"","name":"MosPi","broker":"192.168.0.11","port":"1883","clientid":"raspClient","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"92d462ae.8d756","type":"Spark Authentication","z":0,"name":"123"},{"id":"c5ef7b36.ec30a8","type":"sqlitedb","z":"","db":"/home/pi/db/deskreadingstest"},{"id":"c67135af.44f188","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"4cce55de.75039c","type":"ui_group","z":"","name":"Default","tab":"c67135af.44f188","disp":true,"width":"6","collapse":false},{"id":"79857449.22c44c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"dcc467d7.206a68","type":"sqlitedb","z":"","db":"/home/pi/db/DeskReadings"},{"id":"546834f6.f389cc","type":"http in","z":"16867181.4ba4be","name":"","url":"/testPOST","method":"post","upload":false,"swaggerDoc":"","x":100,"y":180,"wires":[["2aabfa8e.46eae6","88d5e44b.871798","2a0f5d6c.7837e2"]]},{"id":"2a0f5d6c.7837e2","type":"http response","z":"16867181.4ba4be","name":"","statusCode":"200","headers":{},"x":300,"y":60,"wires":[]},{"id":"2aabfa8e.46eae6","type":"debug","z":"16867181.4ba4be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":120,"wires":[]},{"id":"f02d9de0.d9c71","type":"mqtt out","z":"16867181.4ba4be","name":"","topic":"esp/test/nodeIN","qos":"2","retain":"","broker":"3eb8d26e.9702ee","x":500,"y":180,"wires":[]},{"id":"50ed9b22.d63374","type":"delay","z":"16867181.4ba4be","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":320,"wires":[["f02d9de0.d9c71"]]},{"id":"88d5e44b.871798","type":"switch","z":"16867181.4ba4be","name":"","property":"payload[\"D7\"]","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":200,"wires":[["f02d9de0.d9c71","4eee0d3c.dbf424"],["f02d9de0.d9c71"]]},{"id":"4eee0d3c.dbf424","type":"function","z":"16867181.4ba4be","name":"Change 1->0","func":"msg.payload[\"D7\"] = 0\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":320,"wires":[["50ed9b22.d63374"]]},{"id":"d5ea5ea5.88a38","type":"mqtt out","z":"31b2726c.e2cc5e","name":"","topic":"","qos":"2","retain":"true","broker":"3eb8d26e.9702ee","x":1000,"y":300,"wires":[]},{"id":"5d07dc20.7e2ca4","type":"mqtt in","z":"eddd5197.056f8","name":"","topic":"/status","qos":"2","broker":"3eb8d26e.9702ee","x":110,"y":160,"wires":[["72204b1.3bf79b4"]]},{"id":"be318842.d521b8","type":"file","z":"eddd5197.056f8","name":"","filename":"status/NODEUMCUSTATUS","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1130,"y":160,"wires":[]},{"id":"72204b1.3bf79b4","type":"function","z":"eddd5197.056f8","name":"payloadSaver","func":"msg.newData = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":200,"wires":[["8058d349.d109d"]]},{"id":"8058d349.d109d","type":"file in","z":"eddd5197.056f8","name":"","filename":"status/NODEUMCUSTATUS","format":"utf8","chunk":false,"sendError":false,"x":470,"y":200,"wires":[["f1b5aea3.07b8c"]]},{"id":"3a32a3df.e2dd0c","type":"inject","z":"eddd5197.056f8","name":"","topic":"","payload":"{\"roomNode2\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":380,"wires":[["d3bdbd53.f955f"]]},{"id":"d3bdbd53.f955f","type":"mqtt out","z":"eddd5197.056f8","name":"","topic":"/status","qos":"2","retain":"true","broker":"3eb8d26e.9702ee","x":440,"y":380,"wires":[]},{"id":"9eeb2cfc.73e8d","type":"function","z":"eddd5197.056f8","name":"payloadCombiner","func":"msg.newData=JSON.parse(msg.newData);\n\nif(msg.newData.roomNode1!=null){\n    msg.payload.roomNode1 = msg.newData.roomNode1;\n}\nif(msg.newData.roomNode2!=null){\n    msg.payload.roomNode2 = msg.newData.roomNode2;\n}\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":200,"wires":[["be318842.d521b8"]]},{"id":"f1b5aea3.07b8c","type":"json","z":"eddd5197.056f8","name":"","property":"payload","action":"obj","pretty":false,"x":660,"y":200,"wires":[["9eeb2cfc.73e8d"]]},{"id":"93d2f6ec.7c48b8","type":"http in","z":"e8d560a3.40dba","name":"status","url":"/status","method":"get","upload":false,"swaggerDoc":"","x":90,"y":80,"wires":[["67d8e516.fd444c"]]},{"id":"c31b12d6.2b504","type":"http response","z":"e8d560a3.40dba","name":"status out","statusCode":"","headers":{},"x":620,"y":360,"wires":[]},{"id":"94c6632c.01864","type":"template","z":"e8d560a3.40dba","name":"HTML Generator","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<div>\n    <style>{{payload.style}}</style>\n\t<h1>Raspberry PI is: </h1>\n  \t<h1 style=\"color:yellowgreen\">ONLINE</h1>\n  \t<h1>NODEMCU is: </h1>\n  \t<nodestatus>{{payload.text}}</nodestatus>\n  \t\n</div>","output":"str","x":550,"y":280,"wires":[["c31b12d6.2b504"]]},{"id":"67d8e516.fd444c","type":"file in","z":"e8d560a3.40dba","name":"","filename":"status/NODEUMCUSTATUS","format":"utf8","chunk":false,"sendError":false,"x":240,"y":140,"wires":[["514a314d.11a32"]]},{"id":"a47aebd8.94d3c8","type":"function","z":"e8d560a3.40dba","name":"NodeStatusMaker","func":"//msg.payload = {\n//    'val' : msg.payload\n//};\n\nObject.keys(msg.payload).forEach(function(key){\n    console.log(key);\n});\nif(msg.payload.val===0){\n    msg.payload.color=\"red\";\n    msg.payload.text = \"OFFLINE\";\n    console.log(\"here\")\n}\nelse if (msg.payload.val==1){\n    msg.payload.color=\"yellowgreen\";\n    msg.payload.text = \"ONLINE\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":220,"wires":[["1d526baa.88bad4"]]},{"id":"1d526baa.88bad4","type":"template","z":"e8d560a3.40dba","name":"CSS Generator","field":"payload.style","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"nodestatus {\n    font-size: 32px;\n    font-weight: bold;\n    color: {{payload.color}};\n}","output":"str","x":320,"y":280,"wires":[["94c6632c.01864"]]},{"id":"514a314d.11a32","type":"json","z":"e8d560a3.40dba","name":"convert payload to json","property":"payload","action":"obj","pretty":false,"x":490,"y":140,"wires":[["a47aebd8.94d3c8"]]},{"id":"d0d17660.d0cc58","type":"inject","z":"31b2726c.e2cc5e","name":"Meeting times","topic":"","payload":"{\"room\":\"room1\",\"startTime\":\"09:20:00\",\"endTime\":\"10:26:00\"}","payloadType":"json","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":60,"wires":[[]]},{"id":"184e331e.45a23d","type":"function","z":"31b2726c.e2cc5e","name":"TimeFigureOuterer","func":"function toDate(time) {\n  var t1 = new Date();\n  var parts = time.split(\":\");\n  t1.setHours(parts[0],parts[1],parts[2],0);\n  return t1;\n}\nstartTime = toDate(msg.payload.startTime);\nendTime = toDate(msg.payload.endTime);\nlength = parseInt(Math.abs(startTime.getTime()-endTime.getTime())/60000);\ntimeLeft = parseInt((endTime.getTime()-Date.now())/60000);\n\nmsg.payload = {\"room\":msg.payload.room,\n    details: {\n    \"timeLeft\": timeLeft,\n    \"length\": length\n}};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":80,"wires":[["d5ea5ea5.88a38","13ae708a.5a5e6f"]]},{"id":"13ae708a.5a5e6f","type":"debug","z":"31b2726c.e2cc5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":740,"y":60,"wires":[]},{"id":"48d9c848.b2dfe8","type":"http in","z":"31b2726c.e2cc5e","name":"","url":"/rooms","method":"post","upload":false,"swaggerDoc":"","x":90,"y":280,"wires":[["581dfb6d.b3bb14","86ab4b6a.c53388"]]},{"id":"549f146c.fd35cc","type":"function","z":"31b2726c.e2cc5e","name":"nextReservation","func":"//create global variable that contains all the current\n// or next immediate meetings for each room. Meeting times\n// will inject this every 30 secs#\n\n//add free property to determine if light is on\nmsg.payload = {\n    \"room\": \"room1\",\n    \"startTime\": \"13:45:00\",\n    \"endTime\": \"13:59:00\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":180,"wires":[["184e331e.45a23d"]]},{"id":"513ebce6.5745e4","type":"debug","z":"31b2726c.e2cc5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":240,"wires":[]},{"id":"581dfb6d.b3bb14","type":"http response","z":"31b2726c.e2cc5e","name":"","statusCode":"200","headers":{},"x":690,"y":400,"wires":[]},{"id":"6088d3d3.333e3c","type":"inject","z":"1885c078.1827b","name":"Create","topic":"CREATE TABLE deskreadings(id STRING, oldheight INTEGER,newheight INTEGER, time INTEGER,mscounter INTEGER)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":20,"wires":[["6ebe7dfd.24c554"]]},{"id":"78685dc9.e1adb4","type":"inject","z":"1885c078.1827b","name":"insert","topic":"INSERT INTO deskreadings (id,oldheight,newheight,time,mscounter) values (\"testnode\",50,60,123456789,10000)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":60,"wires":[["6ebe7dfd.24c554"]]},{"id":"4fdeb16f.7b175","type":"inject","z":"1885c078.1827b","name":"select","topic":"SELECT * FROM deskreadings;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":100,"wires":[["6ebe7dfd.24c554"]]},{"id":"11ee0ad3.bc62a5","type":"debug","z":"1885c078.1827b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":200,"wires":[]},{"id":"1147ee.1d051813","type":"sqlite","z":"1885c078.1827b","mydb":"dcc467d7.206a68","sqlquery":"msg.topic","sql":"","name":"PROD","x":530,"y":220,"wires":[["11ee0ad3.bc62a5"]]},{"id":"77f1c623.c53ea8","type":"inject","z":"1885c078.1827b","name":"drop","topic":"DROP TABLE deskreadingstest;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["6ebe7dfd.24c554"]]},{"id":"25bea225.1dc3be","type":"function","z":"1885c078.1827b","name":"","func":"msg.topic = \"SELECT * FROM deskreadings\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":620,"wires":[["ec6abf41.0e4d1"]]},{"id":"96db891c.8a0768","type":"http in","z":"1885c078.1827b","name":"","url":"/desks","method":"get","upload":false,"swaggerDoc":"","x":170,"y":620,"wires":[["25bea225.1dc3be"]]},{"id":"69a618b3.4cd178","type":"mqtt in","z":"1885c078.1827b","name":"","topic":"Desks/+","qos":"2","broker":"3eb8d26e.9702ee","x":180,"y":500,"wires":[["1d77b4a5.94ecab"]]},{"id":"1d77b4a5.94ecab","type":"json","z":"1885c078.1827b","name":"","property":"payload","action":"obj","pretty":false,"x":340,"y":540,"wires":[["cc440cc8.d5b15"]]},{"id":"a6ba547f.eab038","type":"function","z":"1885c078.1827b","name":"PublishSorter","func":"if(\"startuptime\" in msg.payload){\n    msg.topic = \"INSERT INTO \"+\n    msg.payload.id+\"(id,startuptime) values (\\\"\"+\n    msg.payload.id+\"\\\",\"+\n    msg.payload.startuptime+\")\";\n}\nelse if (\"mscounter\" in msg.payload){\n    msg.topic = \"INSERT INTO deskreadings(id,oldheight,newheight,time,mscounter) values (\\\"\"+\n    msg.payload.id+\"\\\",\"+\n    msg.payload.oldheight+\",\"+\n    msg.payload.newheight+\",\"+\n    msg.payload.time+\",\"+\n    msg.payload.mscounter+\")\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":320,"wires":[["b199a319.18bd2","1147ee.1d051813"]]},{"id":"ec6abf41.0e4d1","type":"sqlite","z":"1885c078.1827b","mydb":"c5ef7b36.ec30a8","sqlquery":"msg.topic","sql":"","name":"","x":610,"y":620,"wires":[["28fa9645.b1e5aa"]]},{"id":"93f3c8ea.949218","type":"http response","z":"1885c078.1827b","name":"","statusCode":"200","headers":{},"x":1020,"y":620,"wires":[]},{"id":"28fa9645.b1e5aa","type":"csv","z":"1885c078.1827b","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"id,date,time,oldheight,newheight","skip":"0","x":850,"y":620,"wires":[["93f3c8ea.949218"]]},{"id":"ffc016bf.2b0d48","type":"inject","z":"1885c078.1827b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":580,"wires":[["25bea225.1dc3be"]]},{"id":"40db5db6.409d04","type":"inject","z":"a47b2e06.db0dd","name":"","topic":"","payload":"{\"room\":\"room1\",\"details\":{\"colour\":\"green\",\"animation\":1}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":220,"wires":[["165d7c75.a9f434"]]},{"id":"165d7c75.a9f434","type":"mqtt out","z":"a47b2e06.db0dd","name":"","topic":"/colours","qos":"","retain":"","broker":"3eb8d26e.9702ee","x":680,"y":220,"wires":[]},{"id":"86ab4b6a.c53388","type":"function","z":"31b2726c.e2cc5e","name":"","func":"msg.topic = msg.payload.topic;\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":300,"wires":[["d5ea5ea5.88a38","13ae708a.5a5e6f"]]},{"id":"5a63063b.e95508","type":"inject","z":"1885c078.1827b","name":"","topic":"Desk1","payload":"{\"details\":\"height\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":800,"wires":[["1a24eab4.c6d8c5"]]},{"id":"1a24eab4.c6d8c5","type":"mqtt out","z":"1885c078.1827b","name":"","topic":"","qos":"","retain":"","broker":"3eb8d26e.9702ee","x":460,"y":800,"wires":[]},{"id":"1b0a42fe.858d6d","type":"inject","z":"31b2726c.e2cc5e","name":"","topic":"11 WEST 28","payload":"{\"duration\":0,\"elapsed\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":500,"wires":[["d5ea5ea5.88a38"]]},{"id":"cd83db7e.bf0408","type":"inject","z":"1885c078.1827b","name":"","topic":"","payload":"{\"details\":\"height\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":850,"y":460,"wires":[["e86a6864.fe9228"]]},{"id":"e86a6864.fe9228","type":"mqtt out","z":"1885c078.1827b","name":"","topic":"Status/DeskNode8","qos":"2","retain":"","broker":"3eb8d26e.9702ee","x":1070,"y":460,"wires":[]},{"id":"b199a319.18bd2","type":"debug","z":"1885c078.1827b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":360,"wires":[]},{"id":"6ebe7dfd.24c554","type":"sqlite","z":"1885c078.1827b","mydb":"c5ef7b36.ec30a8","sqlquery":"msg.topic","sql":"","name":"TEST","x":530,"y":120,"wires":[["11ee0ad3.bc62a5"]]},{"id":"a6dfff01.62e81","type":"inject","z":"1885c078.1827b","name":"Create","topic":"CREATE TABLE deskreadings(id STRING, oldheight INTEGER,newheight INTEGER, time INTEGER,mscounter INTEGER)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":220,"wires":[["1147ee.1d051813"]]},{"id":"2611ee94.408d42","type":"inject","z":"1885c078.1827b","name":"insert","topic":"INSERT INTO deskreadings (id,oldheight,newheight,time,mscounter) values (\"testnode\",50,60,123456789,10000)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["1147ee.1d051813"]]},{"id":"f002c48b.0163f8","type":"inject","z":"1885c078.1827b","name":"select","topic":"SELECT * FROM deskreadings;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":300,"wires":[["1147ee.1d051813"]]},{"id":"b33be3ac.265b3","type":"inject","z":"1885c078.1827b","name":"drop","topic":"DROP TABLE deskreadingstest;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":340,"wires":[["1147ee.1d051813"]]},{"id":"751cce7f.49b43","type":"switch","z":"1885c078.1827b","name":"","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"publish","vt":"str"},{"t":"eq","v":"response","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":420,"wires":[["a6ba547f.eab038"],["b199a319.18bd2"]]},{"id":"cc440cc8.d5b15","type":"function","z":"1885c078.1827b","name":"checkPublishType","func":"if(\"time\" in msg.payload || \"startuptime\" in msg.payload){\n    msg.type = \"publish\";\n}\nelse{\n    msg.type = \"response\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":460,"wires":[["751cce7f.49b43","20334b3b.e597d4"]]},{"id":"20334b3b.e597d4","type":"debug","z":"1885c078.1827b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":580,"y":480,"wires":[]}]